body
{
    font-family: sans-serif;
}

h1#title {
    text-align: center;
}

table {
    border-collapse: collapse;
}

th,td {
    border: 1px solid black;
}

th,td {
    padding: 4px;
}

th {
    background-color: lightblue
}

th.space {
    border: none;
    background-color: transparent;
}

tr.even {
    background-color: lightyellow;
}

td.name {
    font-weight: bold;
}
